@using WebAppTest1.Models
@model IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index Page</title>
</head>
<body>
    <div>
        <h1>First Name : @Model.FirstName</h1>
        <h1>Surname : @Model.LastName</h1>
    </div>
</body>
</html>
